<div class="col-1-container">
  <div class="mod-col-1 mod toolbar-top">
    <fieldset id="mainToolbar">
      <a class='btn back-btn' href="#" onclick="requestPage('/home');">Back</a>
    </fieldset>
    <br/>
  </div>
  <div class="mod-col-1 mod-main-content mod mod-mainTitle">
    <h1 id="mainTitle"><%= character.realName.content %></h1>
    <% function fixForJSON(val) {
      return val.replace(/'/g, '&apos;').replace(/\\/g, '\\\\');
    } %>
    <script>
      // NOTE: can't move this to a partial; the helper won't be defined there
      function realNameKeydown_handler(event,ui) {
        let character = null;
        let characterString = null;
        if (event.keyCode === 13) {
          let newVal = event.target.value;
          characterString = '<%- fixForJSON(JSON.stringify(character)) %>';
          character = JSON.parse(characterString);
          saveSettingTitle_helper(event,ui,null,'realName',newVal,character);
          $('h1#mainTitle').html(newVal);
          $('h1#mainTitle').click(mainTitleClick_handler);
          oldTitle = null;
        } else if (event.keyCode === 27) {
          try {
            characterString = '<%- fixForJSON(JSON.stringify(character)) %>';
            character = JSON.parse(characterString);
            $('h1#mainTitle').html(character.realName.content);
            $('h1#mainTitle').click(mainTitleClick_handler);
          } catch (e) {console.log(e);}
          oldTitle = null;
        }
      }
      function mainTitleClick_handler(event,ui) {
        $('h1#mainTitle').off('click');
        let oldTitle = $('#mainTitle').html();
        $('h1#mainTitle').html(
          `<input type='text' id='mainTitle_editor' value='${oldTitle.replace(/'/g, '&apos;')}'>`
        );
        $('#mainTitle_editor').keydown(realNameKeydown_handler);
        $('#mainTitle_editor').focus().select();
      }
      $('h1#mainTitle').click(mainTitleClick_handler);
    </script>
  </div>
  <!-- properties window =================================================== -->
  <div class="mod-col-1 mod">
    <div id="Navigator">
      <div id="Navigator_toolbar">
        <a href="#" onclick="navigatorExpandAll();"
        id="navigatorExpandAllBtn" title="Expand All" alt="Expand All"><img
        src="/images/expand-all-icon.png"/></a>
        <a href="#" onclick="navigatorCollapseAll();"
        id="navigatorCollapseAllBtn" title="Collapse All" alt="Collapse All"><img
        src="/images/collapse-all-icon.png"/></a>
      </div>
      <div id="Navigator_table">

      <%- partial('../partials/character/navigator-items'); %>

      <script>
        // load navigator Title-editor click handlers
        // NOTE: can't move this to a partial; the helper won't be defined there
        let settings = JSON.parse(`<%- JSON.stringify(settings) %>`);
        let events = JSON.parse(`<%- JSON.stringify(events) %>`);
        let locations = JSON.parse(`<%- JSON.stringify(locations) %>`);
        let stories = JSON.parse(`<%- JSON.stringify(stories) %>`);
        let characters = [];

        let list = [
          {v: settings,   h: 'Settings',  m: 'Setting',
            t: ['authorTitle', 'newsTitle', 'colloqTitle']},
          {v: events,       h: 'Events',      m: 'Event',
            t: ['authorTitle', 'newsTitle', 'colloqTitle']},
          {v: locations,     h: 'Locations',    m: 'Location',
            t: ['authorTitle', 'newsTitle', 'colloqTitle']},
          {v: stories,     h: 'Stories',    m: 'Story',
            t: ['mainTitle']},
          {v: characters,     h: 'Characters',    m: 'Character',
            t: ['realName','codeName']}
        ];
        list.map((s) => {
          s.v.map((c) => {
            let domID = `${s.m}_${c.id}_`;
            s.t.map((t) => {
              $(`#${domID}_${t}`).click( (event,ui) => {
                let content = (c[t]) ? c[t].content : '';
                navigatorTitleClick_handler(event,ui,domID,t,content,c);
              });
            });
          });
        });
      </script>
      </div>
    </div>
  </div>
</div>

<div class="col-2-container">
  <div class="mod-col-2 mod toolbar-top" style="margin-bottom: 0px; height: ">
    <form>
      <fieldset id="col-2-editorType">
        <label for="editorType_backstory">Backstory</label>
        <input type="radio" name="editorType" id="editorType_backstory" checked="checked">
        <label for="editorType_traits">Traits</label>
        <input type="radio" name="editorType" id="editorType_traits">
      </fieldset>
      <fieldset id="col-2-mainToolbar">
        <input class="btn" type="button" id="editorSubmit" value="Save">
      </fieldset>
    </form>
    <br/>
  </div>
  <div class="mod-col-2 mod" style="flex-grow: 8; display: flex; margin-top: 0px;">
    <textarea id="noteEditor"><%- (character.backstory !== null)
      ? character.backstory.content : '' %></textarea>
  </div>
</div>

<div class="col-3-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-3 mod" style="height: 5vh;">
    <p>???</p>
  </div>
</div>

<div class="col-4-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-4 mod" style="height: 5vh;">
    <p>Generated Public Note:<br/>
      Sequence of Events ea. w/<br/> Characters & Locations
    </p>
  </div>
</div>

<script>
  function setupSort(tmpType) {
    $(`#Nav${tmpType}Container`).on('sortstop', null, null, (event) => {
      // get the character sortables as jquery objects
      let sortables = $(`#Nav${tmpType}Container .item_accordion .Navigator_item .Navigator_TopTitle`);
      let sorted = [];
      for (let x = 0; x < sortables.length; x++) {
        let domID = sortables.get(x).id;
        let info = domID.split('_');
        sorted[sorted.length] = {type: info[0], id: info[1], sequence: x, characterID: characterID};
      }
      $.ajax({url: '/character/save-sequence', method: 'POST', data: {items: sorted}})
        .done(handleResponse_saveStoryContent);
    });
  }
  setupSort('Setting');
  setupSort('Event');
  setupSort('Location');
  setupSort('Story');


  // Notes editor (ckeditor) ===================================================
  // a switch for saveSettingNote_helper (twas first writ for radio btn logic)
  var saveNoteWasClicked = false;
  try {
    var characterID = `<%= character.id %>`;
    var traitsContent = `<%- (character.traits !== null)
      ? character.traits.content : '' %>`;
    var backstoryContent = `<%- (character.backstory !== null)
      ? character.backstory.content : '' %>`;
    var traitsID = `<%= (character.traits !== null)
      ? character.traits.id : -1 %>`;
    var backstoryID = `<%= (character.backstory !== null)
      ? character.backstory.id : -1  %>`;
    } catch (e) { console.log(e); }
</script>

<script src="/js/property-navigator.js"></script>
<script src="/js/ck-character.js"></script>
