<div class="col-1-container">
  <div class="mod-col-1 mod toolbar-top">
    <fieldset id="mainToolbar">
      <a class='btn back-btn' href="#" onclick="requestPage('/home');">Back</a>
    </fieldset>
    <br/>
  </div>
  <div class="mod-col-1 mod-main-content mod mod-mainTitle">
    <h1 id="mainTitle"><%= story.mainTitle.content %></h1>
    <script>
      function mainTitleKeydown_handler(event,ui) {
        let story = null;
        let storyString = null;
        if (event.keyCode === 13) {
          let newVal = event.target.value;
          storyString = '<%- JSON.stringify(story).replace(/\\/g, '\\\\') %>';
          story = JSON.parse(storyString);
          saveStoryTitle_helper(event,ui,null,'mainTitle',newVal,story);
          $('h1#mainTitle').html(newVal);
          $('h1#mainTitle').click(mainTitleClick_handler);
          oldTitle = null;
        } else if (event.keyCode === 27) {
          try {
            storyString = '<%- JSON.stringify(story).replace(/\\/g, '\\\\') %>';
            story = JSON.parse(storyString);
            $('h1#mainTitle').html(story.mainTitle.content);
            $('h1#mainTitle').click(mainTitleClick_handler);
          } catch (e) {console.log(e);}
          oldTitle = null;
        }
      }
      function mainTitleClick_handler(event,ui) {
        $('h1#mainTitle').off('click');
        let oldTitle = $('#mainTitle').html();
        $('h1#mainTitle').html(
          `<input type='text' id='mainTitle_editor' value='${oldTitle}'>`
        );
        $('#mainTitle_editor').keydown(mainTitleKeydown_handler);
        $('#mainTitle_editor').focus().select();
      }
      $('h1#mainTitle').click(mainTitleClick_handler);
    </script>
  </div>
  <!-- properties window =================================================== -->
  <div class="mod-col-1 mod">
    <div id="Navigator">
      <div id="Navigator_toolbar">
        <a href="#" onclick="navigatorExpandAll();"
        id="navigatorExpandAllBtn" title="Expand All" alt="Expand All"><img
        src="/images/expand-all-icon.png"/></a>
        <a href="#" onclick="navigatorCollapseAll();"
        id="navigatorCollapseAllBtn" title="Collapse All" alt="Collapse All"><img
        src="/images/collapse-all-icon.png"/></a>
      </div>
      <div id="Navigator_table">
      <script>
        let output = '';
        let altColor = false;
        let colorStyle = '';
        let characters = JSON.parse(`<%- JSON.stringify(characters) %>`);
        if (characters) {
          output = "<div class='Navigator_header'>Characters</div>";
          $('#Navigator_table').append(output);
          output = "<div id='NavCharacterContainer' class='Navigator_container'></div>";
          $('#Navigator_table').append(output);
          characters.map((c) => {
            altColor = !altColor;
            colorStyle = (altColor) ? 'alt-list-color' : '';
            let domID = `Character_${c.id}_`
            let rn = (c.realName) ? c.realName.content : '';
            let cn = (c.codeName) ? c.codeName.content : '';
            output = `<h3><span id="${domID}_header">${rn}</span></h3>`
              + `<div class='Navigator_item ${colorStyle}'>`
              + `<div class='Navigator_TopTitle' id="${domID}_realName">Real Name: <div>${rn}</div></div>`
              + `<div class='Navigator_Title' id="${domID}_codeName">Code Name: <div>${cn}</div></div>`
              + `</div>`;
            $('#NavCharacterContainer').append(`<div class='item_accordion'>${output}</div>`);
            let rName = 'realName';

            $(`#${domID}_${rName}`).click((event,ui) => {
              navigatorTitleClick_handler(event,ui,domID,rName,rn,c)
            });

            let codeNameContainer = $(`#${domID}_codeName`);
            codeNameContainer.click((event,ui)=>{
              navigatorTitleClick_handler(event,ui,domID,'codeName', cn, c);
            });
          });
        }
        let events = JSON.parse(`<%- JSON.stringify(events) %>`);
        if (events) {
          output = "<div class='Navigator_header'>Events</div>";
          $('#Navigator_table').append(output);
          output = "<div id='NavEventContainer' class='Navigator_container'></div>";
          $('#Navigator_table').append(output);
          events.map((e) => {
            altColor = !altColor;
            colorStyle = (altColor) ? 'alt-list-color' : '';
            let domID = `Event_${e.id}`;
            let at = (e.authorTitle) ? e.authorTitle.content : '';
            let nt = (e.newsTitle) ? e.newsTitle.content : '';
            let ct = (e.colloqTitle) ? e.colloqTitle.content : '';
            output = `<h3><span id="${domID}_header">${at}</span></h3>`
              + `<div id="${domID}_item" class='Navigator_item ${colorStyle}'>`
              + `<div class='Navigator_TopTitle' id="${domID}_authorTitle">Author's Title: <div>${at}</div></div>`
              + `<div class='Navigator_Title' id="${domID}_newsTitle">News Title: <div>${nt}</div></div>`
              + `<div class='Navigator_Title' id="${domID}_colloqTitle">Colloq. Title: <div>${ct}</div></div>`
              + `</div>`;
            $('#NavEventContainer').append(`<div class='item_accordion'>${output}</div>`);
            $(`#${domID}_authorTitle`).click((event,ui)=>{
              navigatorTitleClick_handler(event,ui,domID,'authorTitle', at, e);
            });
            $(`#${domID}_newsTitle`).click((event,ui)=>{
              navigatorTitleClick_handler(event,ui,domID,'newsTitle', nt, e);
            });
            $(`#${domID}_colloqTitle`).click((event,ui)=>{
              navigatorTitleClick_handler(event,ui,domID,'colloqTitle', ct, e);
            });
          });
        }
        let settings = JSON.parse(`<%- JSON.stringify(settings) %>`);
        if (settings) {
          output = "<div class='Navigator_header'>Settings</div>";
          $('#Navigator_table').append(output);
          output = "<div id='NavSettingContainer' class='Navigator_container'></div>";
          $('#Navigator_table').append(output);
          settings.map((s) => {
            altColor = !altColor;
            colorStyle = (altColor) ? 'alt-list-color' : '';
            let domID = `Setting_${s.id}`;
            let at = (s.authorTitle) ? s.authorTitle.content : '';
            let nt = (s.newsTitle) ? s.newsTitle.content : '';
            let ct = (s.colloqTitle) ? s.colloqTitle.content : '';
            output = `<h3><span id="${domID}_header">${at}</span></h3>`
              + `<div class='Navigator_item ${colorStyle}'>`
              + `<div class='Navigator_TopTitle' id="${domID}_authorTitle">Author's Title: <div>${at}</div></div>`
              + `<div class='Navigator_Title' id="${domID}_newsTitle">News Title: <div>${nt}</div></div>`
              + `<div class='Navigator_Title' id="${domID}_colloqTitle">Colloq. Title: <div>${ct}</div></div>`
              + `</div>`;
            $('#NavSettingContainer').append(`<div class='item_accordion'>${output}</div>`);
            $(`#${domID}_authorTitle`).click((event,ui)=>{
              navigatorTitleClick_handler(event,ui,domID,'authorTitle', at, s);
            });
            $(`#${domID}_newsTitle`).click((event,ui)=>{
              navigatorTitleClick_handler(event,ui,domID,'newsTitle', nt, s);
            });
            $(`#${domID}_colloqTitle`).click((event,ui)=>{
              navigatorTitleClick_handler(event,ui,domID,'colloqTitle', ct, s);
            });

          });
        }
      </script>
      </div>
    </div>
  </div>
</div>

<div class="col-2-container">
  <div class="mod-col-2 mod toolbar-top" style="margin-bottom: 0px; height: ">
    <form>
      <fieldset id="col-2-editorType">
        <label for="editorType_summary">Summary</label>
        <input type="radio" name="editorType" id="editorType_summary" checked="checked">
        <label for="editorType_elevator">Elevator Pitch</label>
        <input type="radio" name="editorType" id="editorType_elevator">
      </fieldset>
      <fieldset id="col-2-mainToolbar">
        <input class="btn" type="button" id="editorSubmit" value="Save">
      </fieldset>
    </form>
    <br/>
  </div>
  <div class="mod-col-2 mod" style="flex-grow: 8; display: flex; margin-top: 0px;">
    <textarea id="noteEditor"><%- (story.summary !== null)
      ? story.summary.content : '' %></textarea>
  </div>
</div>

<div class="col-3-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-3 mod" style="height: 5vh;">
    <p>???</p>
  </div>
</div>

<div class="col-4-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-4 mod" style="height: 5vh;">
    <p>Generated Summary:<br/>
      Sequence of Events ea. w/<br/> Characters & Locations
    </p>
  </div>
</div>

<script>
  // Notes editor (ckeditor) ===================================================
  // a switch for saveStoryNote_helper (twas first writ for radio btn logic)
  var saveNoteWasClicked = false;
  try {
    var storyID = `<%= story.id %>`;
    var elevatorPitchContent = `<%- (story.elevatorPitch !== null)
      ? story.elevatorPitch.content : '' %>`;
    var summaryContent = `<%- (story.summary !== null)
      ? story.summary.content : '' %>`;
    var elevatorPitchID = `<%= (story.elevatorPitch !== null)
      ? story.elevatorPitch.id : -1 %>`;
    var summaryID = `<%= (story.summary !== null)
      ? story.summary.id : -1  %>`;
    CKEDITOR.replace('noteEditor', {height: '66vh', width: '32vw'});
    // setup toolbar
    $('.btn').button();
    $('input[name="editorType"]').checkboxradio();
    $('#col-2-editorType').controlgroup();
    $('#mainToolbar').controlgroup();
    $('#col-2-mainToolbar').controlgroup();
    var sumBtn = $('#editorType_summary');
    var elvBtn = $('#editorType_elevator');
    $('input[type=radio][name=editorType]').change((event, ui)=>{
      saveStoryNote_helper(event,ui);
    });
    $('#editorSubmit').click((e,ui) => {
      saveNoteWasClicked = true;
      saveStoryNote_helper(e,ui);
    });
  } catch (e) { console.log(e); }
  // Properties window =========================================================
  // two points are required to mix with .sortable in the way we want
  $( ".item_accordion" ).accordion({ // each item must be its own accordion
    animate: 100,
    collapsible: true,
    header: 'h3',
    heightStyle: 'content',
    beforeActivate: (event,ui) => {
      // prevent state-change caused by dragdrop click
      if (sorting) {
        event.preventDefault();
      }
    },
    classes: {
      "ui-accordion-header": "Navigator_TopTitle",
      "ui-accordion-header-collapsed": "Navigator_TopTitle",
      "ui-accordion-content": "Navigator_item"
    }, active: false
  });

  $(".Navigator_container").sortable({axis: 'y', handle: 'h3',
    distance: 5,
    revert: 200,
    start: (event,ui)=>{
      // prevent accordion state-change during dragdrop
      sorting = true;
    },
    stop: (event,ui)=>{
      $(".item_accordion").accordion('refresh');
      // prevent accordion state-change during dragdrop
      sorting = false;
    }
  });

  var setupSort = (tmpType) => {
    $(`#Nav${tmpType}Container`).on('sortstop', null, null, (event) => {
      // get the character sortables as jquery objects
      let sortables = $(`#Nav${tmpType}Container .item_accordion .Navigator_item .Navigator_TopTitle`);
      let sorted = [];
      for (let x = 0; x < sortables.length; x++) {
        let domID = sortables.get(x).id;
        let info = domID.split("_");
        sorted[sorted.length] = {type: info[0], id: info[1], sequence: x, storyID: storyID};
      }
      $.ajax({url: '/common/save-sequence', method: 'POST', data: {items: sorted}})
        .done(handleResponse_saveStoryContent);
    });
  }
  setupSort('Character');
  setupSort('Event');
  setupSort('Setting');
</script>
