<script src="/js/workspace.js"></script>
<script src="/js/property-navigator.js"></script>
<script src="/js/ck-story.js"></script>

<div class="col-1-container">
  <div class="mod-col-1 mod toolbar-top">
    <fieldset id="mainToolbar">
      <a class='btn back-btn' href="#" onclick="requestBackBtn()">Back</a>
    </fieldset>
    <br/>
  </div>
  <div class="mod-col-1 mod-main-content mod mod-mainTitle">
    <p class="main-title-intro">A story titled</p>
    <h1 id="mainTitle"><%= story.mainTitle.content %></h1>
    <% function fixForJSON(val) {
      return val.replace(/'/g, '&apos;').replace(/\\/g, '\\\\');
    } %>
    <script>
      var storyID = `<%= story.id %>`;
      var linkedID = storyID;
      var linkedType = 'story';
      // NOTE: can't move this to a partial; the helper won't be defined there
      function mainTitleKeydown_handler(event,ui) {
        let story = null;
        let storyString = null;
        if (event.keyCode === 13) {
          let newVal = event.target.value;
          storyString = '<%- fixForJSON(JSON.stringify(story)) %>';
          story = JSON.parse(storyString);
          saveStoryTitle_helper(event,ui,null,'mainTitle',newVal,story);
          $('h1#mainTitle').html(newVal);
          $('h1#mainTitle').click(mainTitleClick_handler);
          oldTitle = null;
          $('p.main-title-intro').click(mainTitleClick_handler);
        } else if (event.keyCode === 27) {
          try {
            storyString = '<%- fixForJSON(JSON.stringify(story)) %>';
            story = JSON.parse(storyString);
            $('h1#mainTitle').html(story.mainTitle.content);
            $('h1#mainTitle').click(mainTitleClick_handler);
            $('p.main-title-intro').click(mainTitleClick_handler);
        } catch (e) {console.log(e);}
          oldTitle = null;
        } else if (event.keyCode === 65 && event.ctrlKey) {
          $('#mainTitle_editor').focus().select();
        }
      }
      function mainTitleClick_handler(event,ui) {
        $('h1#mainTitle').off('click');
        $('p.main-title-intro').off('click')
          .click((e) => { $('input#mainTitle_editor').focus().select(); });
        let oldTitle = $('#mainTitle').html();
        $('h1#mainTitle').html(
          `<input type='text' id='mainTitle_editor' value='${oldTitle.replace(/'/g, '&apos;')}'>`
        );
        $('#mainTitle_editor').keydown(mainTitleKeydown_handler);
        $('#mainTitle_editor').focus().select();
      }
      $('h1#mainTitle').click(mainTitleClick_handler);
      $('p.main-title-intro').click(mainTitleClick_handler);
    </script>
  </div>
  <!-- properties window =================================================== -->
  <div class="mod-col-1 mod">
    <div id="Navigator">
      <div id="Navigator_toolbar">
        <a href="#" onclick="navigatorExpandAll();"
        id="navigatorExpandAllBtn" title="Expand All" alt="Expand All"><img
        src="/images/expand-all-icon.png"/></a>
        <a href="#" onclick="navigatorCollapseAll();"
        id="navigatorCollapseAllBtn" title="Collapse All" alt="Collapse All"><img
        src="/images/collapse-all-icon.png"/></a>
        <select id="newAttachItemMenu" title="Create &amp; Attach">
          <option value="none" data-class="ui-icon-nullify">&nbsp;</option>
          <option value="character" data-class="ui-icon-character">New Character</option>
          <option value="event" data-class="ui-icon-event">New Event</option>
          <option value="location" data-class="ui-icon-location">New Location</option>
          <option value="setting" data-class="ui-icon-setting">New Setting</option>
          <option value="story" data-class="ui-icon-story">New Story</option>
        </select>
        <input type='text' id='Navigator_filter_input'/><span
          id="Navigator_filter_hint" onclick="navFilterSubmit();">&nbsp;</span><span
          id="Navigator_filter_clear" onclick="navFilterClear();">&nbsp;</span>
      </div>
      <div id="Navigator_table">

      <%- partial('../partials/story/navigator-items'); %>
      <script>setupAccordion();</script>
      <script>setupSorts();</script>
      <script>setupClickHandlers();</script>

      </div>
    </div>
  </div>
</div>

<div class="col-2-container">
  <div class="mod-col-2 mod toolbar-top" style="margin-bottom: 0px; height: ">
    <form>
      <fieldset id="col-2-editorType">
        <label for="editorType_summary">Summary</label>
        <input type="radio" name="editorType" id="editorType_summary" checked="checked">
        <label for="editorType_elevator">Elevator Pitch</label>
        <input type="radio" name="editorType" id="editorType_elevator">
      </fieldset>
      <fieldset id="col-2-mainToolbar">
        <input class="btn" type="button" id="editorSubmit" value="Save">
      </fieldset>
    </form>
    <br/>
  </div>
  <div class="mod-col-2 mod" style="flex-grow: 8; display: flex; margin-top: 0px;">
    <textarea id="noteEditor"><%- (story.summary !== null)
      ? story.summary.content : '' %></textarea>
  </div>
</div>

<div class="col-3-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-3 mod" style="height: 5vh;">
    <p>???</p>
  </div>
</div>

<div class="col-4-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-4 mod" style="height: 5vh;">
    <p>Generated Summary:<br/>
      Sequence of Events ea. w/<br/> Characters & Locations
    </p>
  </div>
</div>

<script>
  makeNewAttachItemMenu();
  setupFilterField();
  setupSort('Character');
  setupSort('Event');
  setupSort('Setting');

  // Notes editor (ckeditor) ===================================================
  // a switch for saveStoryNote_helper (twas first writ for radio btn logic)
  var saveNoteWasClicked = false;
  try {
    var elevatorPitchContent = `<%- (story.elevatorPitch !== null)
      ? story.elevatorPitch.content : '' %>`;
    var summaryContent = `<%- (story.summary !== null)
      ? story.summary.content : '' %>`;
    var elevatorPitchID = `<%= (story.elevatorPitch !== null)
      ? story.elevatorPitch.id : -1 %>`;
    var summaryID = `<%= (story.summary !== null)
      ? story.summary.id : -1  %>`;
    } catch (e) { console.log(e); }
</script>
