<div id="home-workspace">
  <div id="taskbar"></div>
  <div id="deskicon-container" tabindex="1">
    <%- characterIcons %>
    <%- storyIcons %>
    <%- eventIcons %>
    <%- locationIcons %>
    <%- settingIcons %>
    <div id="new-character" class="deskicon new-icon character-icon"><a onclick="requestPage('new-character');" href="#">New Character</a></div>
    <div id="new-story" class="deskicon new-icon story-icon"><a onclick="requestPage('new-story');" href="#">New Story</a></div>
    <div id="new-event" class="deskicon new-icon event-icon"><a onclick="requestPage('new-event');" href="#">New Event</a></div>
    <div id="new-location" class="deskicon new-icon location-icon"><a onclick="requestPage('new-location');" href="#">New Location</a></div>
    <div id="new-setting" class="deskicon new-icon setting-icon"><a onclick="requestPage('new-setting');" href="#">New Setting</a></div>
  </div>
</div>
<div id="splash-container">
  <div id="splash">
    <div id="splash-text"><div id="splash-logo">FictionDB</div><p>Welcome</p></div>
  </div>
</div>
<div id="context-menu">
  <ul>

      <li class="context-menu-item single-select-only"><a
        href="#">Duplicate</a></li>
      <li class="context-menu-item single-select-only"><a
        href="#">Open</a></li>
      <li class="context-menu-item single-select-only"><a
        onclick="launchRename();" href="#">Rename</a></li>

    <li class="context-menu-item"><a onclick="trashItems();"
      href="#">Delete</a></li>
  </ul>
</div>
<div id="item-toaster">
  <br/>
</div>
<div id="dialog">
  <%- partial("../partials/dialog/title-bar") %>
  <div id="dialogContent">&nbsp;</div>
</div>
