<% function fixForJSON(val) {
  return val.replace(/'/g, '&apos;').replace(/\\/g, '\\\\');
}
function splitCamelCase(s) {
  return s.replace(/([A-Z][a-z]|[A-Z]+(?=[A-Z]|$))/g, " $1")
  .replace(/./, m => m.toUpperCase())
  .trim();
}
%>
<script src="/js/workspace.js"></script>
<script src="/js/property-navigator.js"></script>
<script src="/js/ck-<%= linkedType %>.js"></script>
<script>
  var linkedID = <%- linkedID %>;
  var linkedType = `<%- linkedType %>`;
  var titleNames = JSON.parse(`<%- fixForJSON(JSON.stringify(titleNames)) %>`);
  var noteNames = JSON.parse(`<%- fixForJSON(JSON.stringify(noteNames)) %>`);
  var linkedItemString = '<%- fixForJSON(JSON.stringify(linkedItem)) %>';
  var linkedItem = JSON.parse(linkedItemString);
</script>
<div class="col-1-container">
  <div class="mod-col-1 mod toolbar-top">
    <fieldset id="mainToolbar">
      <a class='btn back-btn' href="#" onclick="requestBackBtn()">Back</a>
    </fieldset>
    <br/>
  </div>
  <div class="mod-col-1 mod-main-content mod mod-mainTitle">
    <% var article = (['a','e','i','o','u'].indexOf(linkedType.substring(0, 1)) > -1)
    ? 'An' : 'A'; %>
    <p class="main-title-intro"><%= article %> <%= linkedType %> named</p>
    <h1 id="mainTitle"><%- linkedItem[titleNames[0]].content %></h1>
    <script>
      // NOTE: can't move this to a partial; the helper won't be defined there
      function mainTitleKeydown_handler(e,ui) {
        if (e.keyCode === 13) {
          let newVal = e.target.value;
          saveAssocTitle_helper(e,ui,null,titleNames[0],newVal,linkedItem,linkedType);
          $('h1#mainTitle').html(newVal);
          $('h1#mainTitle').click(mainTitleClick_handler);
          oldTitle = null;
          $('p.main-title-intro').click(mainTitleClick_handler);
        } else if (e.keyCode === 27) {
          try {
            $('h1#mainTitle').html(linkedItem[titleNames[0]].content);
            $('h1#mainTitle').click(mainTitleClick_handler);
            $('p.main-title-intro').click(mainTitleClick_handler);
          } catch (e) {console.log(e);}
          oldTitle = null;
        } else if (e.keyCode === 65 && e.ctrlKey) {
          $('#mainTitle_editor').focus().select();
        }
      }
      function mainTitleClick_handler(e,ui) {
        $('h1#mainTitle').off('click');
        $('p.main-title-intro').off('click')
          .click((e) => { $('input#mainTitle_editor').focus().select(); });
        let oldTitle = $('#mainTitle').html();
        $('h1#mainTitle').html(
          `<input type='text' id='mainTitle_editor' value='${oldTitle.replace(/'/g, '&apos;')}'>`
        );
        $('#mainTitle_editor').keydown(mainTitleKeydown_handler);
        $('#mainTitle_editor').focus().select();
      }
      $('h1#mainTitle').click(mainTitleClick_handler);
      $('p.main-title-intro').click(mainTitleClick_handler);
    </script>
  </div>
  <!-- properties window =================================================== -->
  <div class="mod-col-1 mod">
    <div id="Navigator">
      <div id="Navigator_toolbar">
        <a href="#" class="ui" onclick="navigatorExpandAll();"
        id="navigatorExpandAllBtn" title="Expand All" alt="Expand All"><img
        src="/images/expand-all-icon.png"/></a>
        <a href="#" class="ui" onclick="navigatorCollapseAll();"
        id="navigatorCollapseAllBtn" title="Collapse All" alt="Collapse All"><img
        src="/images/collapse-all-icon.png"/></a>

        <%- partial('../partials/common/attach-menu') %>
        <%- partial('../partials/common/new-attach-menu') %>

        <span class="flexspacer">&nbsp;</span>
        <input type='text' id='Navigator_filter_input' class="ui" value="(filter)"/><span
         id="Navigator_filter_hint" onclick="navFilterSubmit();">&nbsp;</span><span
         id="Navigator_filter_clear" onclick="navFilterClear();">&nbsp;</span>
      </div>
      <div id="Navigator_table">

      <%- partial('../partials/common/navigator-items'); %>

      </div>
    </div>
  </div>
</div>

<div class="col-2-container">
  <div class="mod-col-2 mod toolbar-top" style="margin-bottom: 0px; height: ">
    <form>
      <fieldset id="col-2-editorType">
        <% for (let x = 0; x < noteNames.length; x++) {
          let name = noteNames[x]; %>
          <label for="editorType_<%= name %>"><%= splitCamelCase(name) %></label>
          <input type="radio" name="editorType" id="editorType_<%= name %>"
            <%= (x === 0) ? 'checked="checked"' : '0' %>>
        <% } %>
      </fieldset>
      <fieldset id="col-2-mainToolbar">
        <input class="btn" type="button" id="editorSubmit" value="Save">
      </fieldset>
    </form>
    <br/>
  </div>
  <div class="mod-col-2 mod" style="flex-grow: 8; display: flex; margin-top: 0px;">
    <textarea id="noteEditor"><%- (linkedItem[noteNames[0]] !== null)
      ? linkedItem[noteNames[0]].content : '' %></textarea>
  </div>
</div>
<div id="cke_veil">&nbsp;</div>

<div class="col-3-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;</div>
  <div class="col-3-scroller">
    <script>
      switch (linkedType) {
        case 'story':
          var stories = [linkedItem];
          makeStoryEventIntensityGraphs();
        break;
        case 'event':
          var stories = JSON.parse(`<%- fixForJSON(JSON.stringify(stories)) %>`);
          makeStoryEventIntensityGraphs();
      }
    </script>
  </div>
</div>

<div class="col-4-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-4 mod" style="height: 5vh;">
    <p>Generated Summary:<br/>
      Sequence of Events ea. w/<br/> Characters & Locations
    </p>
  </div>
</div>

<script>
  makeAttachItemMenu();
  makeNewAttachItemMenu();
  setupFilterField();
  setupAccordion();
  setupSorts();
  setupClickHandlers();

  // Notes editor (ckeditor) prep ==============================================
  // a switch for saveSettingNote_helper (twas first writ for radio btn logic)
  var saveNoteWasClicked = false;
  var assocNotes = {};
  try {
    for (let x = 0; x < noteNames.length; x++) {
      assocNotes[noteNames[x]] = {};
      assocNotes[noteNames[x]].id = (linkedItem[noteNames[x]])
        ? linkedItem[noteNames[x]].id : -1;
      assocNotes[noteNames[x]].content = (linkedItem[noteNames[x]])
        ? linkedItem[noteNames[x]].content : '';
    }
  } catch (e) { console.log(e); }

</script>
