<%
let list = [
  {v: events,     h: 'Properties', m: 'Event',     t: Event.getTitleFieldNames()},
  {v: characters, h: 'Characters', m: 'Character', t: Character.getTitleFieldNames()},
  {v: settings,   h: 'Settings',   m: 'Setting',   t: Setting.getTitleFieldNames()},
  {v: locations,  h: 'Locations',  m: 'Location',  t: Location.getTitleFieldNames()},
  {v: stories,    h: 'Stories',    m: 'Story',     t: Story.getTitleFieldNames()},

];
function fixForJSON(val) {
  return val.replace(/'/g, '&apos;').replace(/\\/g, '\\\\');
}
%>
<script>
var list = JSON.parse(`<%- fixForJSON(JSON.stringify(list)) %>`);
</script>
<%
list.map((s) => { if (s.v.length) { %>
    <div class='Navigator_header'><%= s.h %></div>
    <div id='Nav<%= s.m %>Container' class='Navigator_container'>
      <% var altColor = false;
      var colorStyle = '';
      s.v.map((c) => { %>
        <div class='item_accordion'>
          <%
          altColor = !altColor;
          colorStyle = (altColor) ? 'alt-list-color' : '';
          let domID = `${s.m}_${c.id}_`;
          // don't do header for own properties
          if (event.id !== c.id || s.m !== 'Event') { %>
            <h3><span id="<%= domID %>_header"><%= c[s.t[0]].content %></span></h3>
          <% } %>
          <div class='Navigator_item <%= colorStyle %>'>
          <% // don't show main title in own properties
          if (event.id !== c.id || s.m !== 'Event') { %>
            <div class='Navigator_TopTitle' id="<%= domID %>_<%= s.t[0] %>"><%= s.t[0] %>:
              <div><%= c[s.t[0]].content %></div>
            </div>
          <% } %>
          <% for (let x = 1; x < s.t.length; x++) { %>
            <div class='Navigator_Title' id="<%= domID %>_<%= s.t[x] %>"><%= s.t[x] %>:
              <div><%= (c[s.t[x]]) ? c[s.t[x]].content : '' %></div>
            </div>
          <% } %>
        </div>
      </div>
    <% }); %>
  </div>
<% } }); %>
