<div id="deskicon-container" tabindex="1">
  <%- characterIcons %>
  <%- eventIcons %>
  <%- locationIcons %>
  <%- settingIcons %>
  <%- storyIcons %>
  <div id="new-character" class="deskicon new-icon character-icon <%= cssClass %>"><a onclick="requestPage('new-character');" href="#">New Character</a></div>
  <div id="new-event" class="deskicon new-icon event-icon <%= cssClass %>"><a onclick="requestPage('new-event');" href="#">New Event</a></div>
  <div id="new-location" class="deskicon new-icon location-icon <%= cssClass %>"><a onclick="requestPage('new-location');" href="#">New Location</a></div>
  <div id="new-setting" class="deskicon new-icon setting-icon <%= cssClass %>"><a onclick="requestPage('new-setting');" href="#">New Setting</a></div>
  <div id="new-story" class="deskicon new-icon story-icon <%= cssClass %>"><a onclick="requestPage('new-story');" href="#">New Story</a></div>
</div>
