<script src="/js/workspace.js"></script>
<script src="/js/property-navigator.js"></script>
<script src="/js/ck-event.js"></script>

<div class="col-1-container">
  <div class="mod-col-1 mod toolbar-top">
    <fieldset id="mainToolbar">
      <a class='btn back-btn' href="#" onclick="requestBackBtn()">Back</a>
    </fieldset>
    <br/>
  </div>
  <div class="mod-col-1 mod-main-content mod mod-mainTitle">
    <p class="main-title-intro">An event called</p>
    <h1 id="mainTitle"><%= event.authorTitle.content %></h1>
    <% function fixForJSON(val) {
      return val.replace(/'/g, '&apos;').replace(/\\/g, '\\\\');
    } %>
    <script>
      var eventID = `<%= event.id %>`;
      var linkedID = eventID;
      var linkedType = 'event';
      // NOTE: can't move this to a partial; the helper won't be defined there
      function authorTitleKeydown_handler(event,ui) {
        let ev = null; // well that was almost a fine mess
        let evString = null;
        if (event.keyCode === 13) {
          try {
            let newVal = event.target.value;
            evString = `<%- fixForJSON(JSON.stringify(event)) %>`;
            ev = JSON.parse(evString);
            saveEventTitle_helper(event,ui,null,'authorTitle',newVal,ev);
            $('h1#mainTitle').html(newVal);
            $('h1#mainTitle').click(mainTitleClick_handler);
            $('p.main-title-intro').click(mainTitleClick_handler);
          } catch (e) {console.log(e);}
          oldTitle = null;
        } else if (event.keyCode === 27) {
          try {
            evString = `<%- fixForJSON(JSON.stringify(event)) %>`;
            ev = JSON.parse(evString);
            $('h1#mainTitle').html(ev.authorTitle.content);
            $('h1#mainTitle').click(mainTitleClick_handler);
            $('p.main-title-intro').click(mainTitleClick_handler);
        } catch (e) {console.log(e);}
          oldTitle = null;
        } else if (event.keyCode === 65 && event.ctrlKey) {
          $('#mainTitle_editor').focus().select();
        }
      }
      function mainTitleClick_handler(event,ui) {
        $('h1#mainTitle').off('click');
        $('p.main-title-intro').off('click')
          .click((e) => { $('input#mainTitle_editor').focus().select(); });
        let oldTitle = $('#mainTitle').html();
        $('h1#mainTitle').html(
          `<input type='text' id='mainTitle_editor' value='${oldTitle.replace(/'/g, '&apos;')}'>`
        );
        $('#mainTitle_editor').keydown(authorTitleKeydown_handler);
        $('#mainTitle_editor').focus().select();
      }
      $('h1#mainTitle').click(mainTitleClick_handler);
      $('p.main-title-intro').click(mainTitleClick_handler);
    </script>
  </div>
  <!-- properties window =================================================== -->
  <div class="mod-col-1 mod">
    <div id="Navigator">
      <div id="Navigator_toolbar">
        <a href="#" onclick="navigatorExpandAll();"
        id="navigatorExpandAllBtn" title="Expand All" alt="Expand All"><img
        src="/images/expand-all-icon.png"/></a>
        <a href="#" onclick="navigatorCollapseAll();"
        id="navigatorCollapseAllBtn" title="Collapse All" alt="Collapse All"><img
        src="/images/collapse-all-icon.png"/></a>
        <select id="newAttachItemMenu" title="Create &amp; Attach">
          <option value="none" data-class="ui-icon-nullify">&nbsp;</option>
          <option value="character" data-class="ui-icon-character">New Character</option>
          <option value="event" data-class="ui-icon-event">New Event</option>
          <option value="location" data-class="ui-icon-location">New Location</option>
          <option value="setting" data-class="ui-icon-setting">New Setting</option>
          <option value="story" data-class="ui-icon-story">New Story</option>
        </select>
        <span class="flexspacer">&nbsp;</span>
        <input type='text' id='Navigator_filter_input' value="(filter)"/><span
          id="Navigator_filter_hint" onclick="navFilterSubmit();">&nbsp;</span><span
          id="Navigator_filter_clear" onclick="navFilterClear();">&nbsp;</span>
      </div>
      <div id="Navigator_table">

      <%- partial('../partials/event/navigator-items'); %>

      </div>
    </div>
  </div>
</div>

<div class="col-2-container">
  <div class="mod-col-2 mod toolbar-top" style="margin-bottom: 0px; height: ">
    <form>
      <fieldset id="col-2-editorType">
        <label for="editorType_publicNote">Public Note</label>
        <input type="radio" name="editorType" id="editorType_publicNote" checked="checked">
        <label for="editorType_authorNote">Author Notes</label>
        <input type="radio" name="editorType" id="editorType_authorNote">
      </fieldset>
      <fieldset id="col-2-mainToolbar">
        <input class="btn" type="button" id="editorSubmit" value="Save">
      </fieldset>
    </form>
    <br/>
  </div>
  <div class="mod-col-2 mod" style="flex-grow: 8; display: flex; margin-top: 0px;">
    <textarea id="noteEditor"><%- (event.publicNote !== null)
      ? event.publicNote.content : '' %></textarea>
  </div>
</div>

<div class="col-3-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-3 mod" style="height: 5vh;">
    <p>???</p>
  </div>
</div>

<div class="col-4-container">
  <div class="mod-col-1 mod toolbar-top">&nbsp;
  </div>
  <div class="mod-col-4 mod" style="height: 5vh;">
    <p>Generated Public Note:<br/>
      Sequence of Events ea. w/<br/> Characters & Locations
    </p>
  </div>
</div>

<script>

  makeNewAttachItemMenu();
  setupFilterField();
  setupAccordion();
  setupSorts();
  setupClickHandlers();


  // Notes editor (ckeditor) ===================================================
  // a switch for saveEventNote_helper (twas first writ for radio btn logic)
  var saveNoteWasClicked = false;
  try {
    var authorNoteContent = `<%- (event.authorNote !== null)
      ? event.authorNote.content : '' %>`;
    var publicNoteContent = `<%- (event.publicNote !== null)
      ? event.publicNote.content : '' %>`;
    var authorNoteID = `<%= (event.authorNote !== null)
      ? event.authorNote.id : -1 %>`;
    var publicNoteID = `<%= (event.publicNote !== null)
      ? event.publicNote.id : -1  %>`;
    } catch (e) { console.log(e); }

</script>
